html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #faf9f8;
  margin-bottom: 200px; /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #dddddd;
  /*background-color: lightblue;*/
  height: 150px;
}

.header-title .row {
  margin-right: 0px;
}

/*------------
  Da sistemare
------------*/

.ms-ChoiceField-labelWrapper {
  overflow: visible;
}

.ms-Persona {
  margin-bottom: 12px;
}

#home .ms-Icon {
  font-size: 40px;
}

.ms-ChoiceFieldGroup-flexContainer {
  display: flex;
  justify-content: center;
}

/*
.ms-Card {
  max-width: 400px;
  width: 270px;
}
*/

.card {
  background-color: #faf9f8;
  border: none;
}
