body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #faf9f8;
  display: flex;
  flex-direction: column;
}

#root {
  min-width: 630px;
  -webkit-font-smoothing: antialiased;
}

/*------------
    HEADER
------------*/

header {
  position: sticky;
  display: block;
}

#header-title {
  color: #1e9ceb;
  display: flex;
  flex-direction: row; /* For working footer */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

#header-menu {
  position: sticky;
  width: 100%;
  display: flex;
}

/* End HEADER */

#content {
  flex: 1;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

#home-text {
  text-align: center;
  margin-bottom: 50px;
}

#home-collegamenti {
  justify-content: center;
}

#courses-text {
  display: flex;
  text-align: center;
  justify-content: center;
}

#faqProposer-text {
  text-align: center;
}

#faqProposer-form,
#faqProposer .ms-Stack {
  text-align: center;
  display: flex;
}

/*------------
    FOOTER
------------*/

footer {
  background-color: #dddddd;
  /*background-color: lightblue;*/
  width: 100%;
  height: 20%;
  position: sticky;
  display: flex;
  bottom: 0;
  left: 0;
  justify-content: center;
  text-align: center;
}

#footer-content {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* End FOOTER */

/*------------
  Da sistemare
------------*/

.ms-Persona {
  margin-bottom: 12px;
}

.ms-FocusZone {
  /* fa parte di header menu */
  margin-left: 8px;
}

#home .ms-Icon {
  /* Da vedere come cavolo impostarlo da home.tsx */
  font-size: 40px;
}

#faqProposer .ms-Stack {
  justify-content: center;
}

.ms-ChoiceFieldGroup-flexContainer {
  display: flex;
  justify-content: center;
}

.ms-Card {
  max-width: 400px;
  width: 270px;
}
