html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #faf9f8;
  margin-bottom: 200px; /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #dddddd;
  /*background-color: lightblue;*/
  height: 150px;
}

.header-title .row {
  margin-right: 0px;
}

/* Fix temporaneo FocusZone in CourseListView */
@media only screen and (max-width: 575px) {
  /*
  body {
    background-color: lightblue;
  }
  */

  .ms-List {
    width: 478px;
  }
}

@media only screen and (max-width: 515px) {
  /*
  body {
    background-color: orange;
  }
  */

  .ms-List {
    width: 232px;
  }
}

.faq-proposer select {
  width: 100%;
  box-shadow: none;
  margin: 0px;
  padding: 0px 28px 0px 8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(96, 94, 92);
  border-radius: 2px;
  cursor: pointer;
  display: block;
  height: 32px;
  line-height: 30px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(96, 94, 92);
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
}

.faq-proposer option {
  box-shadow: none;
  margin: 0px;
  padding: 0px 28px 0px 8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(96, 94, 92);
  border-radius: 2px;
  cursor: pointer;
  display: block;
  height: 32px;
  line-height: 30px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
}

/*------------
  Da sistemare
------------*/

.ms-ChoiceField-labelWrapper {
  overflow: visible;
}

.ms-Persona {
  margin-bottom: 12px;
}

#home .ms-Icon {
  font-size: 40px;
}

.ms-ChoiceFieldGroup-flexContainer {
  display: flex;
  justify-content: center;
}

/*
.ms-Card {
  max-width: 400px;
  width: 270px;
}
*/

.card {
  background-color: #faf9f8;
  border: none;
}
