/* Fix temporaneo per centrare le card */
@media only screen and (max-width: 766px) {
    .ms-List {
      margin-left:5%;
      margin-right:5%;
    }
  }
  
  @media only screen and (max-width: 574px) {
    .ms-List {
      margin-left:10%;
      margin-right:5%;
    }
  }
  
  @media only screen and (max-width: 568px) {
    .ms-List {
      margin-left:8%;
      margin-right:5%;
    }
  }
  
  @media only screen and (max-width: 556px) {
    .ms-List {
      margin-left:6%;
      margin-right:5%;
    }
  }
  
  @media only screen and (max-width: 544px) {
    .ms-List {
      margin-left:5%;
      margin-right:5%;
    }
  }
  
  @media only screen and (max-width: 540px) {
    .ms-List {
      margin-left:28%;
      margin-right:25%;
      width: 220px;
    }
  }
  
  
  @media only screen and (max-width: 520px) {
    .ms-List {
      margin-left:26%;
      margin-right:25%;
    }
  }
  
  
  @media only screen and (max-width: 500px) {
    .ms-List {
      margin-left:24%;
      margin-right:25%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .ms-List {
      margin-left:23%;
      margin-right:25%;
    }
  }
  
  
  @media only screen and (max-width: 460px) {
    .ms-List {
      margin-left:22%;
      margin-right:25%;
    }
  }
  
  @media only screen and (max-width: 445px) {
    .ms-List {
      margin-left:21%;
      margin-right:20%;
    }
  }
  
  @media only screen and (max-width: 430px) {
    .ms-List {
      margin-left:20%;
      margin-right:20%;
    }
  }
  
  @media only screen and (max-width: 415px) {
    .ms-List {
      margin-left:18%;
      margin-right:20%;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .ms-List {
      margin-left:16%;
      margin-right:20%;
    }
  }
  
  @media only screen and (max-width: 385px) {
    .ms-List {
      margin-left:15%;
      margin-right:20%;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .ms-List {
      margin-left:14%;
      margin-right:20%;
    }
  }
  
  @media only screen and (max-width: 360px) {
    .ms-List {
      margin-left:13%;
      margin-right:20%;
    }
  }
  
  @media only screen and (max-width: 350px) {
    .ms-List {
      margin-left:11%;
      margin-right:15%;
    }
  }
  
  @media only screen and (max-width: 340px) {
    .ms-List {
      margin-left:10%;
      margin-right:15%;
    }
  }
  
  @media only screen and (max-width: 330px) {
    .ms-List {
      margin-left:9%;
      margin-right:15%;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .ms-List {
      margin-left:8%;
      margin-right:15%;
    }
  }
  
  @media only screen and (max-width: 310px) {
    .ms-List {
      margin-left:4%;
      margin-right:0%;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .ms-List {
      margin-left:2%;
      margin-right:0%;
    }
  }
  
  @media only screen and (max-width: 290px) {
    .ms-List {
      margin-left:1%;
      margin-right:0%;
    }
  }
  
  @media only screen and (max-width: 280px) {
    .ms-List {
      margin-left:0%;
      margin-right:0%;
    }
  }
  
  @media only screen and (max-width: 270px) {
    .ms-List {
      margin-left:-3%;
      margin-right:0%;
    }
  }
  
  @media only screen and (max-width: 260px) {
    .ms-List {
      margin-left:-5%;
      margin-right:0%;
    }
  }
  
  @media only screen and (max-width: 250px) {
    .ms-List {
      margin-left:-8%;
      margin-right:0%;
    }
  }
  
  @media only screen and (max-width: 240px) {
    .ms-List {
      margin-left:-10%;
      margin-right:0%;
    }
  }
  
  /* End fix temporaneo */
  