@font-face {
    font-family: 'Consolas';
    src: url('Consolas.woff2') format('woff2'),
        url('Consolas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

