/* Main properties */

html {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
}

body {
  background-color: #faf9f8;
  margin-bottom: 220px; /* Default footer height */
  height:100%;
  min-height: 100%;
}

#root {
  min-height: 100%;
  height:100%;
}

footer {
  padding-top:20px;
  padding-bottom:15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:#cccccc;
  color: #000;
}

main {
  position: relative;
  min-height: 100%;
}



/* Responsive footer */
@media only screen and (max-width: 992px) {
  body {
    margin-bottom: 240px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    margin-bottom: 500px;
  }
  footer .row {
    text-align: center;
  }

  footer .contacts {
    margin-top:0px;
  }

  footer .contacts .text {
    margin-left:25%;
    margin-right: 25%;
  }
}

@media only screen and (max-width: 235px) {
  body {
    margin-bottom: 630px;
  }
}

@media only screen and (min-width: 769px) {
  footer .row {
    margin-left: 3%;
  }
}
/* End responsive footer */



/* Responsive menu and title */
@media only screen and (min-width: 716px) {
  .header-menu .pivot {
    display: block;
  }

  .header-menu .dropdown {
    display: none;
  }

  .header-menu .ms-FocusZone {  /* Header menu left margin on large displays */
    margin-left: 10px;
  }
}
@media only screen and (max-width: 715px) {
  .header-menu .pivot {
    display: none;
  }

  .header-menu .dropdown {
    display: block;
  }
}


@media only screen and (min-width: 592px) {
  .header-title .large-display {
    display:block;
  }

  .header-title .small-display {
    display:none;
  }
}

@media only screen and (max-width: 591px) {
  .header-title .large-display {
    display:none;
  }

  .header-title .small-display {
    display:block;
  }

  .header-title .small-display .logo-text {
    margin-left:-5%;
  }
}
/* End responsive menu and title */



/* Dropdown style for header-menu */
.header-menu .ms-Dropdown-title { 
  border-style: none;
  background-color: #faf9f8;
  height: 44px;
  justify-content: center;
  text-align: center;
}


/* Grid system adjustments for filter container */
@media only screen and (max-width: 540px) {
  .courses-filter-options .col-xs-12 {
    max-width: 250px;
    text-align: center;
  }
  
  .courses-filter-options .row, .department-choose .row {
    margin-right:10%;
    margin-left:10%;
  }
}

@media only screen and (max-width: 370px) {
  .courses-filter-options .row {
    margin-right:0%;
    margin-left:0%;
  }
}

/* Section adjustments */
@media only screen and (max-width: 575px) {
  .department-choose .col-sm-6 {
    max-width: 280px;
    text-align: center;
  }

  .administrators .title {
    margin-right:15%;
    margin-left:15%;
  }

  .courses-filter-options .col-xs-12 {
    max-width: 250px;
    text-align: center;
  }

  .representatives .people-list .col-xs-12 {
    margin-left:15%;
    max-width: 250px;
    text-align: center;
  }

  .representatives .people-list {
    justify-content: center;
  }
}

@media only screen and (min-width: 481px) {
  .rules .row .col-xs-12 {
    max-width: 250px;
  }
}

@media only screen and (max-width: 480px) {
  .rules .row .col-xs-12 {
    min-width: 250px;
  }
}
/* End Section adjustments */







/*------------
  Da sistemare
------------*/

.ms-MessageBar-icon {
  display:none;
  position:absolute;
}

.header-menu .ms-Dropdown-title {
  line-height: 45px;
  padding:0;
}

.header-title .row {
  margin-right: 0px;
}

.ms-List {
  padding: 3px;
}

.ms-ChoiceField-field {
  box-sizing: border-box;
}

.rules .card, .rules .card-body {
  background-color: #faf9f8;
}

.ms-Dialog-main {
  max-width: none;
  margin:30px;
  min-width:250px;
}

.ms-Dialog-main .ms-Button {
  position:absolute;
}

@media only screen and (max-width: 478px) {
  .ms-Dialog-main .ms-Button {
    top: -40px;
    right: 0px;
  }
  .ms-TeachingBubble {
    max-width:300px;
  }
}

@media only screen and (min-width: 479px) {
  .ms-Dialog-main .ms-Button {
    top: 0px;
    right: 0px;
  }
  .ms-TeachingBubble {
    max-width:400px;
  }
}

.ms-TeachingBubble button {
  outline: none;
  border-radius:5px;
}


.home .ms-Icon {
  font-size: 45px;
}

.ms-ChoiceFieldGroup-flexContainer {
  display: flex;
  justify-content: center;
}

.home .card {
  background-color: #faf9f8;
  border: none;
}

.home .ms-Button-flexContainer {
  margin-left: 5px;
}

.rules .card:active, .rules .card:focus {
  outline: 0;
  border: none;
  outline: none;
  box-shadow: none !important;
}

a:active,
a:focus,
.home button:active,
.home button:focus,
.rules button:active,
.rules button:focus {
  outline: 0;
  border: none;
  outline: none;
  box-shadow: none !important;
}

.ms-Dialog-main .ms-Button {
  outline: none;
}

.faq-view-link:active,
.faq-view-link:focus {
  outline: 0;
}

.services .ms-CardSection {
  text-align: left;
}