@charset "UTF-8";
/* Main properties */
html {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #faf9f8;
  margin-bottom: 220px;
  /* Default footer height */
  height: 100%;
}

footer {
  padding-top: 20px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

main {
  position: relative;
  min-height: 100%;
}

/* Fix bootstrap outline when click */
a:active,
a:focus,
button:active,
button:focus,
.ms-Button:active,
.ms-Button:focus {
  outline: 0;
  outline: none;
  box-shadow: none !important;
}

/* Responsive footer */
@media only screen and (max-width: 992px) {
  body {
    margin-bottom: 240px;
  }
}
@media only screen and (min-width: 768px) {
  footer .mid-column {
    margin-left: 15%;
  }
}
@media only screen and (max-width: 767px) {
  body {
    margin-bottom: 480px;
  }

  footer .row {
    text-align: center;
  }

  footer .contacts {
    margin-top: 0px;
  }

  footer .contacts .text, footer .main-col .text {
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media only screen and (max-width: 485px) {
  body {
    margin-bottom: 520px;
  }
}
@media only screen and (max-width: 363px) {
  body {
    margin-bottom: 550px;
  }
}
@media only screen and (max-width: 320px) {
  body {
    margin-bottom: 560px;
  }
}
@media only screen and (min-width: 767px) {
  footer .row {
    margin-left: 3%;
  }
}
/* Responsive menu and title */
@media only screen and (min-width: 780px) {
  .header-menu .pivot {
    display: block;
  }

  .header-menu .dropdown {
    display: none;
  }

  .header-menu .ms-FocusZone {
    /* Header menu left margin on large displays */
    margin-left: 10px;
  }
}
@media only screen and (max-width: 779px) {
  .header-menu .pivot {
    display: none;
  }

  .header-menu .dropdown {
    display: block;
  }
}
@media only screen and (min-width: 592px) {
  .header-title .large-display {
    display: block;
  }

  .header-title .small-display {
    display: none;
  }
}
@media only screen and (max-width: 591px) {
  .header-title .large-display {
    display: none;
  }

  .header-title .small-display {
    display: block;
  }

  .header-title .small-display .logo-text {
    margin-left: -5%;
  }
}
/* Dropdown style for header-menu */
.header-menu .ms-Dropdown-title {
  border-style: none;
  height: 44px;
  justify-content: center;
  text-align: center;
}

/* Grid system adjustments for filter container */
@media only screen and (max-width: 766px) {
  .courses-filter-options .col-sm-12 {
    max-width: 420px;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .courses-filter-options .col-sm-12 {
    max-width: 280px;
    text-align: center;
  }

  /* Courses filter options è il container */
  .courses-filter-options, .department-choose .row {
    margin-right: 0%;
    margin-left: 0%;
  }
}
/* Section adjustments */
@media only screen and (max-width: 575px) {
  .organization .col-12, .contributors .col-12 {
    max-width: 250px;
  }

  .department-choose .col-sm-12 {
    max-width: 350px;
    text-align: center;
  }

  .administrators .title {
    margin-right: 15%;
    margin-left: 15%;
  }

  .courses-filter-options .col-xs-12 {
    max-width: 250px;
    text-align: center;
  }

  .representatives .people-list .col-xs-12, .courses .admin-list .col-xs-12 {
    margin-left: 15%;
    max-width: 250px;
    text-align: center;
  }

  .representatives .people-list, .courses .admin-list {
    justify-content: center;
  }

  .col-persona {
    max-width: 230px;
    margin-left: 10%;
  }

  .rules .col-12 {
    max-width: 250px;
  }

  .home .col-12 {
    max-width: 280px;
  }
}
@media only screen and (min-width: 481px) {
  .rules .row .col-xs-12 {
    max-width: 250px;
  }
}
@media only screen and (max-width: 480px) {
  .rules .row .col-xs-12 {
    min-width: 250px;
  }
}
@media only screen and (max-width: 380px) {
  .services .ms-Card {
    min-width: 100px;
  }
}
/* Adjustment for mobile-view ms-card in coursesList and additionalGroupsView */
@media only screen and (min-width: 501px) {
  .course-list .listGridTile, .additional-groups .listGridTile {
    text-align: center;
    outline: none;
    position: relative;
    float: left;
  }
}
@media only screen and (max-width: 500px) {
  .course-list .ms-Card, .additional-groups .ms-Card {
    width: 100%;
    max-width: 100%;
  }

  .course-list .listGridTile, .additional-groups .listGridTile {
    width: 100% !important;
    max-width: 100%;
  }
}
/*---------------------
  Additional properties
---------------------*/
@media only screen and (max-width: 640px) {
  /* Dropdown items in mobile visualization when using icons act buggy. Must create issue in fluentUi repo */
  .ms-Dropdown-item {
    margin-bottom: 10px !important;
  }
}
.ms-MessageBar-icon {
  display: none;
  position: absolute;
}

.rules a {
  padding-left: 0 !important;
}

.rules .ms-Button-flexContainer {
  margin: 10px;
}

.courses-filter-options .ms-MessageBar-text {
  justify-content: center !important;
  text-align: center !important;
}

.courses-filter-options .ms-MessageBar-icon {
  display: flex !important;
  position: relative !important;
}

.header-menu .ms-Dropdown-title {
  line-height: 45px;
  padding: 0;
}

.ms-List {
  /* Padding for card-list in courses and additionalGroups sections */
  padding: 3px;
}

.services .ms-CardSection {
  text-align: left;
}

.ms-TooltipHost {
  /* For showing tooltip correctly on settings icon */
  display: inline;
}

.organization .ms-Persona {
  max-width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.contributors .ms-Persona {
  width: 48px;
}

footer .fab {
  font-size: 18px;
}

.MuiChip-label {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 11px;
}

.ms-MessageBar {
  background: none;
}

.organization .ms-Card {
  min-width: 100px !important;
}

.course-list .ms-Persona-primaryText {
  font-weight: 600;
}