.swiper-container {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

.swiper-slide {
    text-align: center;
}

.swiper-pagination-bullets {
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    font-family: 'Consolas';
    content: '›';
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    font-family: 'Consolas';
    content: '‹';
}

.swiper-slide img { // Delete this if unnecessary
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 400px) {
    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }
}