@charset "UTF-8";
.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.swiper-slide {
  text-align: center;
}

.swiper-button-prev:before,
.swiper-button-next:before {
  font-family: "slick";
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper-button-prev:before {
  content: "‹";
}

[dir=rtl] .swiper-button-prev:before {
  content: "›";
}

[dir=rtl] .swiper-button-next {
  left: -10px;
  top: 70px;
  right: auto;
}

.swiper-button-next:before {
  content: "›";
}

[dir=rtl] .swiper-button-next:before {
  content: "‹";
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}